body{
    background-color: linen;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, li, a{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color:white;
    text-decoration: none;
}
div a{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color:black;
    text-decoration: none;
}
.breadcrumb{
    margin-left: 2rem;
    margin-top: 1rem;
}

header{
    margin-top: 0rem;
    margin-left: 0rem;
    padding : 1rem 3%;
}


nav{
    margin-top: 0rem;
    margin-left: 2%;
    width : 96%;
    display: flex;
    background-color: black;
}
nav a{
    font-weight: bold;
}

section{
    margin-top: 1rem;
    margin-left: 4rem;
    width : 85%;
    height : 30rem;
}
footer{
    margin-top: 4rem;
    margin-left: 5%;
    width : 90%;
}

.logo{
    cursor: pointer;
    width : 70px;
    height : 50px;
}

.headerLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.headerLinks li a{
    transition: all 0.3s ease 0s;
}
.headerLinks li a:hover {
    color : cadetblue;
}

.navLinks li {
    display: inline-block;
    padding: 0px 1rem;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color : cadetblue;
}
.productImage{
    height: 20rem;
    width: 100%;
    border-radius: 10%;
}
.product{
    border: 1px solid black;
    width : 20%;
    justify-content: center;
    margin : .3px;
    padding: 5px;
    border-radius : 5%;
}

.pric1{
    color: #7b7b7a;
}
.pric3{
    color: green;
}
.blod{
    font-weight : bold;
}
.containerProduct{
    display : flex;
    justify-content: space-between;
}


@media screen and (max-width: 720px) {
    
    nav ul, li, a{
        font-size: 0.7rem;
        text-align: center;
        margin-right: 1rem;
        margin-bottom: .3rem;
    } 
    
    .headerLinks li {
        display: inline-block;
        padding: 0px 10px;
    }
    .containerProduct{
        flex-direction: column;
        align-items: center;
        
    }
    .product{
        border: 1px solid black;
        width : 80%;
        justify-content: center;
        margin : .3rem;
        padding: .5rem 1rem 0 1rem;
   
    }
    nav{
        display: block;
    }
    .logo{
        margin-left: 15rem;
    }

    
}