body{
    background-color: linen;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-family: "Lucida Sans", sans-serif;
  }
nav ul, li, a{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color:white;
    text-decoration: none;
}
div a{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color:black;
    text-decoration: none;
}
.breadcrumb{
    margin-left: 1rem;
    margin-top: 1rem;
}

.breadcrumb a+a::before{
    content: "/";
    margin: 0 1rem 0 1rem; 
}

header{
    margin-top: 0rem;
    margin-left: 0rem;
    padding : 1rem 3%;
}


nav{
    margin-top: 0rem;
    margin-left: 2%;
    width : 96%;
    display: flex;
    background-color: black;
}
nav a{
    font-weight: bold;
}

section{
    margin-top: 1rem;
    margin-left: 4rem;
    width : 85%;
    height : 30rem;
}

.logo{
    cursor: pointer;
    width : 70px;
    height : 50px;
}

.headerLinks li {
    display: inline-block;
    padding: 0px 2rem;
}
.headerLinks li a{
    transition: all 0.3s ease 0s;
    color: aliceblue;
}
.headerLinks li a:hover {
    color : rgb(161, 178, 214);
}

.navLinks li {
    display: inline-block;
    padding: 0px 1rem;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color : cadetblue;
}
.productImage{
    height: 20rem;
    width: 100%;
    border-radius: 10%;
}
.product{
    border: 1px solid black;
    width : 20%;
    height: auto;
    justify-content: center;
    margin : .3px;
    padding: 5px;
    border-radius : 5%;
}

.pric1{
    color: #7b7b7a;
}
.pric3{
    color: green;
}
.blod{
    font-weight : bold;
}
.containerProduct{
    display : flex;
    justify-content: space-between;
}


@media screen and (max-width: 720px) {
    
    nav ul, li, a{
        font-size: 0.7rem;
        text-align: center;
        margin-right: 1rem;
        margin-bottom: .3rem;
        color: black;
    } 
    
    .headerLinks li {
        display: inline-block;
        padding: .5rem 1rem .5rem 1rem;
        border: .1rem solid black;
        margin-right: 0rem;
        border-bottom: .2rem solid black;

    }

    .breadcrumb a:nth-child(1){
        color: blue;
        text-decoration: underline;
    }

    .breadcrumb a:nth-child(2){
        color: blue;
        text-decoration: underline;
    }
    
    .breadcrumb a{
        font-size:medium;
    }

    .breadcrumb{
        margin-left: 3rem;
    }

    header nav ul.headerLinks a{
        color: black;
    }
    
    
    .breadcrumb a+a::before{
        content: ">";
        margin-top: .1; 
    }

    nav{
        display: block;
        background-color: linen;
    }

    .logo{
        display: block;
        width: 14rem;
        margin-left: auto;
        margin-right: auto;
    }


    .containerProduct{
        flex-direction: column;
        align-items: center;
    }

    .product{
        border: 1px solid black;
        width : 100%;
        justify-content: cener;
        padding: .5rem 1rem 0 1rem;
        margin-bottom: 1rem;
   
    }  
}

@media screen and (max-width: 360px) {

    body{
        margin-left: -3rem;
        padding-right: 2.5rem;
    }

    .container{
        width: 100%;
    }
    .logo{
        width: 8rem;
        margin-left: 8rem;
    }

    .headerLinks li{
        padding: .1rem .3rem .1rem .1rem;
        border: .1rem solid black;
        margin-right: 0rem;
        border-bottom: .2rem solid black;
    }
    .headerLinks{
        display: flex;
        margin-left: 0rem; 
        width: 100%;
    }

    .breadcrumb a{
        font-size: .6rem;  
    }
    
    .breadcrumb{
        margin-left: 3rem;
    }

    .containerProduct{
        padding: 1rem;
    }
}

@media print {
    .headerLinks{
        visibility: hidden;
    }

    .logo{
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
    }
}