body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, li, a{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color:white;
    text-decoration: none;
}
div a{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color:black;
    text-decoration: none;
}
.breadcrumb{
    margin-left: 2rem;
    margin-top: 1rem;
}

header{
    margin-top: 0rem;
    margin-left: 0rem;
    padding : 17px 3%;
}


nav{
    margin-top: 0rem;
    margin-left: 2%;
    width : 96%;
    display: flex;
    background-color: black;
}
nav a{
    font-weight:bold;
}

section{
    margin-top: 1rem;
    margin-left: 15%;
    width : 70%;
    height : 30rem;
}
footer{
    margin-top: 4rem;
    margin-left: 5%;
    width : 90%;
}

.logo{
    cursor: pointer;
    width : 70px;
    height : 50px;
}

.headerLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.headerLinks li a{
    transition: all 0.3s ease 0s;
}
.headerLinks li a:hover {
    color : cadetblue;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color : cadetblue;
}
.productImage{
    height: 250px;
    width: 100%;
    border-radius: 10%;
}
.product{
    border: 1px solid black;
    width : 20%;
    justify-content: center;
    margin : 5px;
    padding: 5px;
    border-radius : 5%;
}

.pric1{
    color: #7b7b7a;
}
.pric3{
    color: green;
}
.blod{
    font-weight : bold;
}
.containerProduct{
    display : flex;
}